Repository alex-kim-dev/frontend-practice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

feat(github-jobs): add Wrapper
  projects/github-jobs/src/App.jsx
  projects/github-jobs/src/Hello.jsx
  projects/github-jobs/src/components/Wrapper.jsx
Due: eslint --fix

feat(github-jobs): add Container
  .eslintrc.yml
  package.json
  projects/github-jobs/TODO.md
  projects/github-jobs/config/webpack.common.js
  projects/github-jobs/package.json
  projects/github-jobs/src/components/Container.jsx
  projects/github-jobs/src/theme.js
  projects/github-jobs/src/utils.js
  yarn.lock
Due: eslint --fix, prettier --write

feat(github-jobs): add Header
  projects/github-jobs/TODO.md
  projects/github-jobs/src/App.jsx
  projects/github-jobs/src/components/Header.jsx
Due: eslint --fix, prettier --write

feat(github-jobs): add Toggle
  .eslintrc.yml
  projects/github-jobs/TODO.md
  projects/github-jobs/src/components/Header.jsx
  projects/github-jobs/src/components/Toggle.jsx
Due: eslint --fix, prettier --write

feat(github-jobs): add ability to change theme
  projects/github-jobs/src/App.jsx
  projects/github-jobs/src/components/Header.jsx
  projects/github-jobs/src/index.jsx
  projects/github-jobs/src/store.jsx
Due: eslint --fix

feat(github-jobs): add theme changing based on system preferences
  projects/github-jobs/src/store.jsx
  projects/github-jobs/src/utils.js
Due: eslint --fix

feat(github-jobs): add routes
  projects/github-jobs/TODO.md
  projects/github-jobs/package.json
  projects/github-jobs/src/App.jsx
  yarn.lock
Due: eslint --fix, prettier --write

feat(github-jobs): add Search draft
  projects/github-jobs/src/App.jsx
  projects/github-jobs/src/components/Search.jsx
Due: eslint --fix

feat(github-jobs): add useMediaQuery & useBreakpoint hooks
  projects/github-jobs/src/components/Search.jsx
  projects/github-jobs/src/hooks.js
Due: eslint --fix

refactor(github-jobs): replace system theme utils with useThemePreference hook
  projects/github-jobs/src/hooks.js
  projects/github-jobs/src/store.jsx
  projects/github-jobs/src/utils.js
Due: eslint --fix

refactor(github-jobs): change value of StateProvider to array
  projects/github-jobs/src/App.jsx
  projects/github-jobs/src/components/Header.jsx
  projects/github-jobs/src/store.jsx
Due: eslint --fix

feat(github-jobs): add Button
  .stylelintignore
  projects/github-jobs/TODO.md
  projects/github-jobs/src/App.jsx
  projects/github-jobs/src/components/Button.jsx
  projects/github-jobs/src/components/Search.jsx
Due: eslint --fix, prettier --write

refactor(github-jobs): use icons as components with svgr instead of data uri
  projects/github-jobs/TODO.md
  projects/github-jobs/config/webpack.common.js
  projects/github-jobs/package.json
  projects/github-jobs/src/assets/icons/icon-check.svg
  projects/github-jobs/src/assets/icons/icon-filter.svg
  projects/github-jobs/src/assets/icons/icon-location.svg
  projects/github-jobs/src/assets/icons/icon-moon.svg
  projects/github-jobs/src/assets/icons/icon-search.svg
  projects/github-jobs/src/assets/icons/icon-sun.svg
  projects/github-jobs/src/components/Button.jsx
  projects/github-jobs/src/components/Header.jsx
  projects/github-jobs/src/components/Search.jsx
  projects/github-jobs/src/components/Toggle.jsx
  yarn.lock
Due: eslint --fix, prettier --write

fix(github-jobs): add focus & hover styleling for Toggle
  projects/github-jobs/src/components/Toggle.jsx
Due: eslint --fix

feat(github-jobs): add fonts
  projects/github-jobs/config/webpack.common.js
  projects/github-jobs/package.json
  projects/github-jobs/src/App.jsx
  yarn.lock
Due: eslint --fix, prettier --write

fix(github-jobs): add missing home page link in logo
  projects/github-jobs/TODO.md
  projects/github-jobs/src/App.jsx
  projects/github-jobs/src/components/Header.jsx
Due: eslint --fix, prettier --write

feat(github-jobs): add Checkbox
  projects/github-jobs/TODO.md
  projects/github-jobs/src/assets/desktop/icon-check.svg
  projects/github-jobs/src/components/Checkbox.jsx
  projects/github-jobs/src/components/Search.jsx
  projects/github-jobs/src/store.jsx
  projects/github-jobs/src/utils.js
Due: eslint --fix, prettier --write

feat(github-jobs): add TextField
  projects/github-jobs/TODO.md
  projects/github-jobs/src/components/Search.jsx
  projects/github-jobs/src/components/TextField.jsx
Due: eslint --fix, prettier --write

refactor(github-jobs): clean up Search
  projects/github-jobs/src/components/Button.jsx
  projects/github-jobs/src/components/Checkbox.jsx
  projects/github-jobs/src/components/Search.jsx
  projects/github-jobs/src/components/TextField.jsx
  projects/github-jobs/src/store.jsx
Due: eslint --fix

feat(github-jobs): add Modal
  projects/github-jobs/TODO.md
  projects/github-jobs/src/components/Modal.jsx
  projects/github-jobs/src/components/Search.jsx
  projects/github-jobs/src/store.jsx
Due: eslint --fix, prettier --write

feat(github-jobs): add data fetching on form submit
  projects/github-jobs/TODO.md
  projects/github-jobs/src/App.jsx
  projects/github-jobs/src/components/Search.jsx
  projects/github-jobs/src/store.jsx
Due: eslint --fix, prettier --write

refactor(github-jobs): refactor state provider
  projects/github-jobs/TODO.md
  projects/github-jobs/src/App.jsx
  projects/github-jobs/src/components/Button.jsx
  projects/github-jobs/src/components/Header.jsx
  projects/github-jobs/src/components/Search.jsx
  projects/github-jobs/src/store.jsx
  projects/github-jobs/src/utils.js
Due: eslint --fix, prettier --write

feat(github-jobs): add list of positions
  projects/github-jobs/TODO.md
  projects/github-jobs/package.json
  projects/github-jobs/src/App.jsx
  projects/github-jobs/src/components/Card.jsx
  projects/github-jobs/src/components/Grid.jsx
  projects/github-jobs/src/components/Logo.jsx
  projects/github-jobs/src/components/Status.jsx
  yarn.lock
Due: eslint --fix, prettier --write

build(github-jobs): add webpack persistent cache
  projects/github-jobs/config/webpack.dev.js
  projects/github-jobs/package.json
Due: eslint --fix, prettier --write

fix(github-jobs): add fallback if no logo is present
  projects/github-jobs/src/components/Card.jsx
  projects/github-jobs/src/components/Logo.jsx
Due: eslint --fix

fix(github-jobs): add relative time formatting
  projects/github-jobs/src/components/Card.jsx
  projects/github-jobs/src/utils.js
Due: eslint --fix

revert(github-jobs): remove webpack persistent cache config
  projects/github-jobs/config/webpack.dev.js
  projects/github-jobs/package.json
Due: eslint --fix, prettier --write

feat(github-jobs): add position heading
  projects/github-jobs/TODO.md
  projects/github-jobs/src/App.jsx
  projects/github-jobs/src/components/Button.jsx
  projects/github-jobs/src/components/Card.jsx
  projects/github-jobs/src/components/Heading.jsx
  projects/github-jobs/src/components/Logo.jsx
  projects/github-jobs/src/components/Position.jsx
Due: eslint --fix, prettier --write

feat(github-jobs): add position cta
  projects/github-jobs/src/components/Cta.jsx
  projects/github-jobs/src/components/Heading.jsx
  projects/github-jobs/src/components/Position.jsx
  projects/github-jobs/src/components/Wrapper.jsx
Due: eslint --fix

feat(github-jobs): add position summary
  projects/github-jobs/TODO.md
  projects/github-jobs/src/components/Position.jsx
  projects/github-jobs/src/components/Summary.jsx
Due: eslint --fix, prettier --write

feat(github-jobs): add position description
  projects/github-jobs/TODO.md
  projects/github-jobs/src/components/Content.jsx
  projects/github-jobs/src/components/Position.jsx
Due: eslint --fix, prettier --write

feat(github-jobs): add loading variant for Button
  projects/github-jobs/src/components/Button.jsx
Due: eslint --fix

fix(github-jobs): redo loading/error ui
  projects/github-jobs/src/App.jsx
  projects/github-jobs/src/components/ErrorMessage.jsx
  projects/github-jobs/src/components/Grid.jsx
  projects/github-jobs/src/components/Search.jsx
Due: eslint --fix

feat(github-jobs): add HtmlContent component
  projects/github-jobs/src/components/Content.jsx
  projects/github-jobs/src/components/HtmlContent.jsx
  projects/github-jobs/src/components/Summary.jsx
Due: eslint --fix

refactor(github-jobs): put component files in order, clean up imports
  projects/github-jobs/config/webpack.common.js
  projects/github-jobs/src/App.jsx
  projects/github-jobs/src/components/common/Button.jsx
  projects/github-jobs/src/components/common/Checkbox.jsx
  projects/github-jobs/src/components/common/HtmlContent.jsx
  projects/github-jobs/src/components/common/Logo.jsx
  projects/github-jobs/src/components/common/Status.jsx
  projects/github-jobs/src/components/common/TextField.jsx
  projects/github-jobs/src/components/common/Toggle.jsx
  projects/github-jobs/src/components/layout/Container.jsx
  projects/github-jobs/src/components/layout/Header.jsx
  projects/github-jobs/src/components/layout/Modal.jsx
  projects/github-jobs/src/components/layout/Wrapper.jsx
  projects/github-jobs/src/components/pages/Home/Card.jsx
  projects/github-jobs/src/components/pages/Home/ErrorMessage.jsx
  projects/github-jobs/src/components/pages/Home/Grid.jsx
  projects/github-jobs/src/components/pages/Home/Home.jsx
  projects/github-jobs/src/components/pages/Home/Search.jsx
  projects/github-jobs/src/components/pages/Home/index.js
  projects/github-jobs/src/components/pages/Position/Content.jsx
  projects/github-jobs/src/components/pages/Position/Cta.jsx
  projects/github-jobs/src/components/pages/Position/Heading.jsx
  projects/github-jobs/src/components/pages/Position/Position.jsx
  projects/github-jobs/src/components/pages/Position/Summary.jsx
  projects/github-jobs/src/components/pages/Position/index.js
  projects/github-jobs/src/index.jsx
  projects/github-jobs/src/store.jsx
Due: eslint --fix

refactor(github-jobs): add normalizing jobs data
  projects/github-jobs/src/components/pages/Home/Card.jsx
  projects/github-jobs/src/components/pages/Home/Home.jsx
  projects/github-jobs/src/components/pages/Position/Content.jsx
  projects/github-jobs/src/components/pages/Position/Cta.jsx
  projects/github-jobs/src/components/pages/Position/Heading.jsx
  projects/github-jobs/src/components/pages/Position/Position.jsx
  projects/github-jobs/src/utils.js
Due: eslint --fix

chore(release): publish
  projects/github-jobs/package.json
Due: prettier --write

chore: update all dependencies
  .eslintrc.yml
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.yml
  package.json
  projects/article-preview/package.json
  projects/base-apparel/package.json
  projects/dashboard/package.json
  projects/data-storage/package.json
  projects/four-card/package.json
  projects/fylo-landing/package.json
  projects/fylo-landing/src/sass/defaults.scss
  projects/fylo-landing/src/sass/styles.scss
  projects/github-jobs/package.json
  projects/github-jobs/src/App.jsx
  projects/huddle-landing/package.json
  projects/intro-section/package.json
  projects/job-listings/gatsby-config.js
  projects/job-listings/package.json
  projects/job-listings/src/pages/index.js
  projects/ping/package.json
  projects/pricing/package.json
  projects/project-tracking/package.json
  projects/rock-paper-scissors/package.json
  projects/signup-form/package.json
  projects/signup-form/src/sass/styles.scss
  projects/single-price/package.json
  projects/single-price/src/styles.scss
  projects/social-proof/package.json
  projects/testimonials-slider/package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

fix(github-jobs): remove dummy test script
  projects/github-jobs/package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
  prettier --write: any of: *.{pug,json,yml,yaml,md}
