Repository alex-kim-dev/frontend-practice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

chore(release): publish
  projects/interactive-pricing/package.json
Due: prettier --write

Deploying to gh-pages from @ alex-kim-dev/frontend-practice@f3156a51ffeac082fe3554738b885c41d3b86301 🚀
  interactive-pricing/assets/bg-pattern.2d0029cc.svg
  interactive-pricing/assets/icon-check.6f5234e9.svg
  interactive-pricing/assets/icon-slider.c95c4397.svg
  interactive-pricing/assets/index.30960b4d.css
  interactive-pricing/assets/index.5736aaa8.js
  interactive-pricing/assets/index.5736aaa8.js.map
  interactive-pricing/assets/pattern-circles.ce2decc3.svg
  interactive-pricing/index.html
Due: none

ci: update nodejs to 16
  .github/workflows/deploy-all.yml
  .github/workflows/deploy-changed.yml
Due: none

fix(interactive-pricing): wrong production url
  projects/interactive-pricing/vite.config.js
Due: eslint --fix

Deploying to gh-pages from @ alex-kim-dev/frontend-practice@e8812f29f47341cb776834b9917e174001f46f0c 🚀
  interactive-pricing/assets/index.30960b4d.css
  interactive-pricing/assets/index.802214bf.css
  interactive-pricing/index.html
Due: none

docs(interactive-pricing): add readme
  projects/interactive-pricing/README.md
Due: prettier --write

fix(interactive-pricing): add aria-checked to the switch
  projects/interactive-pricing/src/index.html
  projects/interactive-pricing/src/index.js
Due: eslint --fix

fix(interactive-pricing): fix layout to better match solution comparison
  projects/interactive-pricing/src/style.css
Due: none

Deploying to gh-pages from @ alex-kim-dev/frontend-practice@a23b628aaa75a2d36ff8829a90be7a1f23e540fa 🚀
  interactive-pricing/assets/index.5736aaa8.js
  interactive-pricing/assets/index.5736aaa8.js.map
  interactive-pricing/assets/index.5747807b.css
  interactive-pricing/assets/index.802214bf.css
  interactive-pricing/assets/index.81681c33.js
  interactive-pricing/assets/index.81681c33.js.map
  interactive-pricing/index.html
Due: none

chore(release): publish
  projects/article-preview/package.json
  projects/base-apparel/package.json
  projects/dashboard/package.json
  projects/data-storage/package.json
  projects/four-card/package.json
  projects/fylo-landing/package.json
  projects/huddle-landing/package.json
  projects/interactive-pricing/package.json
  projects/intro-section/package.json
  projects/ping/package.json
  projects/pricing/package.json
  projects/project-tracking/package.json
  projects/rock-paper-scissors/package.json
  projects/signup-form/package.json
  projects/single-price/package.json
  projects/social-proof/package.json
  projects/testimonials-slider/package.json
Due: prettier --write

feat(github-user): project setup
  package-lock.json
  projects/github-user/.eslintrc.yml
  projects/github-user/.gitignore
  projects/github-user/.lintstagedrc.yml
  projects/github-user/.prettierrc.yml
  projects/github-user/.stylelintrc.yml
  projects/github-user/package.json
  projects/github-user/src/images/icon-company.svg
  projects/github-user/src/images/icon-location.svg
  projects/github-user/src/images/icon-moon.svg
  projects/github-user/src/images/icon-search.svg
  projects/github-user/src/images/icon-sun.svg
  projects/github-user/src/images/icon-twitter.svg
  projects/github-user/src/images/icon-website.svg
  projects/github-user/src/index.html
  projects/github-user/src/index.js
  projects/github-user/src/style.css
  projects/github-user/vite.config.js
Due: eslint --fix, prettier --write

feat(github-user): add header
  projects/github-user/src/images/icon-moon.svg
  projects/github-user/src/images/icon-sun.svg
  projects/github-user/src/index.html
  projects/github-user/src/index.js
  projects/github-user/src/style.css
Due: eslint --fix

feat(github-user): add search form
  projects/github-user/src/index.html
  projects/github-user/src/index.js
  projects/github-user/src/style.css
Due: eslint --fix

feat(github-user): add content for mobile layout
  projects/github-user/src/index.html
  projects/github-user/src/style.css
Due: none

refactor(github-user): rename some classes & rearrange css
  projects/github-user/src/index.html
  projects/github-user/src/style.css
Due: none

style(github-user): complete styling for bigger screens
  projects/github-user/src/images/avatar-octocat.png
  projects/github-user/src/index.html
  projects/github-user/src/style.css
Due: none

feat(github-user): add loading & error ui
  projects/github-user/src/index.html
  projects/github-user/src/style.css
Due: none

feat(github-user): add user data fetching
  projects/github-user/.eslintrc.yml
  projects/github-user/src/index.html
  projects/github-user/src/index.js
  projects/github-user/src/style.css
Due: eslint --fix, prettier --write

refactor(github-user): batch some changes
  projects/github-user/src/index.html
  projects/github-user/src/index.js
  projects/github-user/src/style.css
Due: eslint --fix

feat(github-user): add detecting preferred color theme
  projects/github-user/src/index.js
Due: eslint --fix

chore(release): publish
  projects/github-user/package.json
Due: prettier --write

Deploying to gh-pages from @ alex-kim-dev/frontend-practice@a7e79eb69c40203681bd7a63fc312c6098e56a7e 🚀
  github-user/assets/avatar-octocat.c8dc5394.png
  github-user/assets/icon-company.239d6fee.svg
  github-user/assets/icon-location.5ecb9c86.svg
  github-user/assets/icon-moon.7b614f66.svg
  github-user/assets/icon-search.9b108522.svg
  github-user/assets/icon-sun.9cbf2a36.svg
  github-user/assets/icon-twitter.9b75eedf.svg
  github-user/assets/icon-website.87500645.svg
  github-user/assets/index.6a54f8f3.css
  github-user/assets/index.e5c5d2a2.js
  github-user/assets/index.e5c5d2a2.js.map
  github-user/index.html
Due: none

docs(github-user): add readme
  projects/github-user/README.md
Due: prettier --write

style(github-user): set default theme to dark
  projects/github-user/src/index.html
  projects/github-user/src/index.js
Due: eslint --fix

Deploying to gh-pages from @ alex-kim-dev/frontend-practice@20ea05827e4af3afed0cbedc10776551ff657f75 🚀
  github-user/assets/index.9761703d.js
  github-user/assets/index.9761703d.js.map
  github-user/assets/index.e5c5d2a2.js
  github-user/assets/index.e5c5d2a2.js.map
  github-user/index.html
Due: none

Path conditions:
  eslint --fix: any of: projects/**/*.{js,jsx}
  stylelint --fix: any of: projects/**/*.scss
  prettier --write: any of: projects/**/*.{pug,json,yml,yaml,md}
