Repository alex-kim-dev/frontend-practice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

Fix deploy
  .eslintignore
  .github/workflows/deploy-to-gh-pages.yml
  .gitignore
  .prettierignore
  .stylelintignore
  package.json
  projects/article-preview/package.json
  projects/base-apparel/package.json
  projects/dashboard/package.json
  projects/data-storage/package.json
  projects/four-card/package.json
  projects/fylo-landing/package.json
  projects/huddle-landing/package.json
  projects/intro-section/package.json
  projects/ping/package.json
  projects/pricing/package.json
  projects/project-tracking/package.json
  projects/rock-paper-scissors/package.json
  projects/signup-form/package.json
  projects/single-price/package.json
  projects/social-proof/package.json
  projects/testimonials-slider/package.json
Due: prettier --write

build: enforce use of conventional commits
  .commitlintrc.yml
  .czrc
  .huskyrc.yml
  lerna.json
  package.json
  yarn.lock
Due: prettier --write

docs: update readme
  README.md
Due: prettier --write

chore(release): publish
  packages/browserslist-config/package.json
  packages/site-meta/package.json
  projects/article-preview/package.json
  projects/base-apparel/package.json
  projects/dashboard/package.json
  projects/data-storage/package.json
  projects/four-card/package.json
  projects/fylo-landing/package.json
  projects/huddle-landing/package.json
  projects/intro-section/package.json
  projects/job-listings/package.json
  projects/ping/package.json
  projects/pricing/package.json
  projects/project-tracking/package.json
  projects/rock-paper-scissors/package.json
  projects/signup-form/package.json
  projects/single-price/package.json
  projects/social-proof/package.json
  projects/testimonials-slider/package.json
Due: prettier --write

fix(job-listings): path prefix missing last part
  projects/job-listings/gatsby-config.js
Due: eslint --fix

fix: some emdedded svg attributes been stripped by htmlnano
  projects/fylo-landing/.htmlnanorc
  projects/huddle-landing/.htmlnanorc
  projects/intro-section/.htmlnanorc
  projects/ping/.htmlnanorc
  projects/rock-paper-scissors/.htmlnanorc
Due: none

chore(release): publish
  projects/fylo-landing/package.json
  projects/huddle-landing/package.json
  projects/intro-section/package.json
  projects/job-listings/package.json
  projects/ping/package.json
  projects/rock-paper-scissors/package.json
Due: prettier --write

Deploying to gh-pages from @ fb166a83a64388c08dbac88d673386f7046466bb 🚀
  fylo-landing/index.html
  huddle-landing/index.html
  intro-section/index.html
  job-listings/app-12d5958216fe2416f84d.js
  job-listings/app-12d5958216fe2416f84d.js.LICENSE.txt
  job-listings/app-12d5958216fe2416f84d.js.map
  job-listings/app-fcf161a9c2cfad03e1b0.js
  job-listings/app-fcf161a9c2cfad03e1b0.js.map
  job-listings/chunk-map.json
  job-listings/index.html
  job-listings/manifest.webmanifest
  job-listings/page-data/app-data.json
  job-listings/page-data/sq/d/2582099446.json
  job-listings/styles.9808a3e0dab4855bf524.css
  job-listings/styles.f4eeb361aa9dbdb16c3f.css
  job-listings/webpack-runtime-bb7e9e895ae39fd127b0.js
  job-listings/webpack-runtime-bb7e9e895ae39fd127b0.js.map
  job-listings/webpack-runtime-e8fae52704d325b37827.js
  job-listings/webpack-runtime-e8fae52704d325b37827.js.map
  job-listings/webpack.stats.json
  ping/index.html
  rock-paper-scissors/index.html
Due: eslint --fix, prettier --write

refactor(four-card): change file structure, split sass
  .stylelintrc.yml
  projects/four-card/src/defaults.scss
  projects/four-card/src/images/icon-calculator.svg
  projects/four-card/src/images/icon-karma.svg
  projects/four-card/src/images/icon-supervisor.svg
  projects/four-card/src/images/icon-team-builder.svg
  projects/four-card/src/includes/layout.pug
  projects/four-card/src/index.pug
  projects/four-card/src/sass/abstracts/functions.scss
  projects/four-card/src/sass/abstracts/mixins.scss
  projects/four-card/src/sass/abstracts/utilities.scss
  projects/four-card/src/sass/abstracts/variables.scss
  projects/four-card/src/sass/base/base.scss
  projects/four-card/src/sass/base/typography.scss
  projects/four-card/src/sass/components/card.scss
  projects/four-card/src/sass/layout/feature.scss
  projects/four-card/src/sass/layout/wrapper.scss
  projects/four-card/src/sass/main.scss
  projects/four-card/src/sass/vendors/reset.scss
  projects/four-card/src/styles.scss
Due: stylelint --fix, prettier --write

refactor(four-card): extract content into a separate json file
  projects/four-card/.pugrc.js
  projects/four-card/src/content.json
  projects/four-card/src/index.pug
Due: eslint --fix, prettier --write

refactor(four-card): pug templates
  projects/four-card/src/includes/seo.pug
  projects/four-card/src/index.pug
Due: prettier --write

fix(four-card): fix wrapper's top padding on xl+ screens
  projects/four-card/src/sass/layout/wrapper.scss
Due: stylelint --fix

ci: change github workflow to build & deploy all projects at once
  .github/workflows/deploy-all.yml
  .github/workflows/deploy-to-gh-pages.yml
Due: prettier --write

Deploying to gh-pages from @ d3c7254faf1d3bc99003879f6e9a4f1e3992efc4 🚀
  job-listings/page-data/sq/d/2582099446.json
Due: prettier --write

chore(release): publish
  projects/four-card/package.json
Due: prettier --write

refactor(base-apparel): change source files structure
  projects/base-apparel/src/defaults.scss
  projects/base-apparel/src/images/bg-pattern-desktop.svg
  projects/base-apparel/src/images/hero-desktop.jpg
  projects/base-apparel/src/images/hero-mobile.jpg
  projects/base-apparel/src/images/icon-arrow.svg
  projects/base-apparel/src/images/icon-error.svg
  projects/base-apparel/src/images/logo.svg
  projects/base-apparel/src/includes/layout.pug
  projects/base-apparel/src/index.pug
  projects/base-apparel/src/sass/abstracts/functions.scss
  projects/base-apparel/src/sass/abstracts/mixins.scss
  projects/base-apparel/src/sass/abstracts/utilities.scss
  projects/base-apparel/src/sass/abstracts/variables.scss
  projects/base-apparel/src/sass/base/base.scss
  projects/base-apparel/src/sass/base/typography.scss
  projects/base-apparel/src/sass/components/background.scss
  projects/base-apparel/src/sass/components/hero-image.scss
  projects/base-apparel/src/sass/components/logo.scss
  projects/base-apparel/src/sass/components/subscribe.scss
  projects/base-apparel/src/sass/layout/content.scss
  projects/base-apparel/src/sass/layout/header.scss
  projects/base-apparel/src/sass/layout/wrapper.scss
  projects/base-apparel/src/sass/main.scss
  projects/base-apparel/src/sass/vendors/reset.scss
  projects/base-apparel/src/script.js
  projects/base-apparel/src/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

refactor(base-apparel): refactor sass and markup
  .stylelintrc.yml
  projects/base-apparel/src/index.pug
  projects/base-apparel/src/sass/abstracts/mixins.scss
  projects/base-apparel/src/sass/abstracts/utilities.scss
  projects/base-apparel/src/sass/abstracts/variables.scss
  projects/base-apparel/src/sass/base/base.scss
  projects/base-apparel/src/sass/base/typography.scss
  projects/base-apparel/src/sass/components/background.scss
  projects/base-apparel/src/sass/components/hero-image.scss
  projects/base-apparel/src/sass/components/logo.scss
  projects/base-apparel/src/sass/components/subscribe.scss
  projects/base-apparel/src/sass/layout/content.scss
  projects/base-apparel/src/sass/layout/header.scss
  projects/base-apparel/src/sass/layout/layout.scss
  projects/base-apparel/src/sass/layout/wrapper.scss
  projects/base-apparel/src/sass/main.scss
Due: stylelint --fix, prettier --write

refactor(base-apparel): refactor pug layout include
  projects/base-apparel/src/includes/seo.pug
  projects/base-apparel/src/index.pug
Due: prettier --write

refactor(base-apparel): refactor script
  projects/base-apparel/src/includes/seo.pug
  projects/base-apparel/src/script.js
Due: eslint --fix, prettier --write

refactor(base-apparel): make hero image responsive
  projects/base-apparel/src/images/hero-desktop.jpg
  projects/base-apparel/src/images/hero-landscape-1024w.jpg
  projects/base-apparel/src/images/hero-landscape-1024w.webp
  projects/base-apparel/src/images/hero-landscape-1220w.jpg
  projects/base-apparel/src/images/hero-landscape-1220w.webp
  projects/base-apparel/src/images/hero-landscape-375w.jpg
  projects/base-apparel/src/images/hero-landscape-375w.webp
  projects/base-apparel/src/images/hero-landscape-512w.jpg
  projects/base-apparel/src/images/hero-landscape-512w.webp
  projects/base-apparel/src/images/hero-landscape-768w.jpg
  projects/base-apparel/src/images/hero-landscape-768w.webp
  projects/base-apparel/src/images/hero-mobile.jpg
  projects/base-apparel/src/images/hero-portrait-1024w.jpg
  projects/base-apparel/src/images/hero-portrait-1024w.webp
  projects/base-apparel/src/images/hero-portrait-1220w.jpg
  projects/base-apparel/src/images/hero-portrait-1220w.webp
  projects/base-apparel/src/images/hero-portrait-512w.jpg
  projects/base-apparel/src/images/hero-portrait-512w.webp
  projects/base-apparel/src/images/hero-portrait-768w.jpg
  projects/base-apparel/src/images/hero-portrait-768w.webp
  projects/base-apparel/src/includes/hero-image.pug
  projects/base-apparel/src/index.pug
  projects/base-apparel/src/sass/abstracts/variables.scss
  projects/base-apparel/src/sass/base/base.scss
  projects/base-apparel/src/sass/components/hero-image.scss
  projects/base-apparel/src/sass/components/subscribe.scss
  projects/base-apparel/src/sass/layout/layout.scss
Due: stylelint --fix, prettier --write

chore(release): publish
  projects/base-apparel/package.json
  projects/four-card/package.json
Due: prettier --write

build: remove lerna conventional commits default option
  lerna.json
  package.json
Due: prettier --write

refactor(single-price): change pug layout include to seo
  projects/single-price/src/index.pug
  projects/single-price/src/seo.pug
Due: prettier --write

refactor(single-price): separate content from markup
  projects/single-price/.pugrc.js
  projects/single-price/src/content.json
  projects/single-price/src/index.pug
Due: eslint --fix, prettier --write

refactor(single-price): refactor sass using 7-1 & utility classes
  projects/single-price/src/defaults.scss
  projects/single-price/src/index.pug
  projects/single-price/src/styles.scss
Due: stylelint --fix, prettier --write

chore(release): publish
  projects/single-price/package.json
Due: prettier --write

refactor(ping): refactor layout to seo
  projects/ping/src/index.pug
  projects/ping/src/seo.pug
Due: prettier --write

refactor(ping): refactor sass
  projects/ping/src/defaults.scss
  projects/ping/src/index.pug
  projects/ping/src/script.js
  projects/ping/src/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

refactor(ping): change file structure
  projects/ping/src/images/illustration-dashboard.png
  projects/ping/src/images/logo.svg
  projects/ping/src/includes/facebook.pug
  projects/ping/src/includes/instagram.pug
  projects/ping/src/includes/seo.pug
  projects/ping/src/includes/social-links.pug
  projects/ping/src/includes/twitter.pug
  projects/ping/src/index.pug
  projects/ping/src/styles.scss
Due: stylelint --fix, prettier --write

chore(release): publish
  projects/ping/package.json
Due: prettier --write

refactor(signup-form): refactor pug
  projects/signup-form/src/_field.pug
  projects/signup-form/src/includes/input.pug
  projects/signup-form/src/includes/seo.pug
  projects/signup-form/src/index.pug
Due: prettier --write

refactor(signup-form): refactor sass
  projects/signup-form/src/defaults.scss
  projects/signup-form/src/images/bg-intro-desktop.png
  projects/signup-form/src/images/bg-intro-mobile.png
  projects/signup-form/src/images/icon-error.svg
  projects/signup-form/src/includes/input.pug
  projects/signup-form/src/includes/seo.pug
  projects/signup-form/src/index.pug
  projects/signup-form/src/sass/reset.scss
  projects/signup-form/src/sass/styles.scss
  projects/signup-form/src/script.js
  projects/signup-form/src/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

refactor(signup-form): extract content from markup
  projects/signup-form/.pugrc.js
  projects/signup-form/src/content.json
  projects/signup-form/src/includes/input.pug
  projects/signup-form/src/index.pug
Due: eslint --fix, prettier --write

chore(release): publish
  projects/signup-form/package.json
Due: prettier --write

refactor(intro-section): refactor pug
  projects/intro-section/src/includes/facebook.pug
  projects/intro-section/src/includes/instagram.pug
  projects/intro-section/src/includes/seo.pug
  projects/intro-section/src/includes/social-links.pug
  projects/intro-section/src/includes/twitter.pug
  projects/intro-section/src/index.pug
Due: prettier --write

refactor(intro-section): edit sass
  projects/intro-section/src/defaults.scss
  projects/intro-section/src/includes/seo.pug
  projects/intro-section/src/includes/social-links.pug
  projects/intro-section/src/index.pug
  projects/intro-section/src/styles.scss
Due: stylelint --fix, prettier --write

refactor(intro-section): clean up files
  projects/intro-section/src/defaults.scss
  projects/intro-section/src/images/bg-desktop.svg
  projects/intro-section/src/images/bg-mobile.svg
  projects/intro-section/src/images/illustration-mockups.svg
  projects/intro-section/src/images/logo.svg
  projects/intro-section/src/includes/seo.pug
  projects/intro-section/src/sass/reset.scss
  projects/intro-section/src/sass/styles.scss
Due: stylelint --fix, prettier --write

chore(release): publish
  projects/intro-section/package.json
Due: prettier --write

refactor(data-storage): clean up files & pug layout
  projects/data-storage/src/defaults.scss
  projects/data-storage/src/images/bg-desktop.svg
  projects/data-storage/src/images/bg-mobile.svg
  projects/data-storage/src/images/icon-document.svg
  projects/data-storage/src/images/icon-folder.svg
  projects/data-storage/src/images/icon-upload.svg
  projects/data-storage/src/images/logo.svg
  projects/data-storage/src/includes/seo.pug
  projects/data-storage/src/index.pug
  projects/data-storage/src/sass/defaults.scss
  projects/data-storage/src/sass/reset.scss
  projects/data-storage/src/sass/styles.scss
Due: stylelint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
  prettier --write: any of: *.{pug,json,yml,yaml,md}
