Repository alex-kim-dev/frontend-practice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

build: update deploy all workflow
  .github/workflows/deploy-all.yml
Due: prettier --write

chore(release): publish
  projects/article-preview/package.json
  projects/base-apparel/package.json
  projects/dashboard/package.json
  projects/data-storage/package.json
  projects/four-card/package.json
  projects/fylo-landing/package.json
  projects/github-jobs/package.json
  projects/huddle-landing/package.json
  projects/intro-section/package.json
  projects/job-listings/package.json
  projects/ping/package.json
  projects/pricing/package.json
  projects/project-tracking/package.json
  projects/rock-paper-scissors/package.json
  projects/signup-form/package.json
  projects/single-price/package.json
  projects/social-proof/package.json
  projects/testimonials-slider/package.json
Due: prettier --write

chore: fix lint-staged config to lint only projects
  .lintstagedrc.yml
Due: prettier --write

fix: a typo in site url
  packages/site-meta/index.js
Due: eslint --fix

chore(release): publish
  packages/site-meta/package.json
  projects/article-preview/package.json
  projects/base-apparel/package.json
  projects/dashboard/package.json
  projects/data-storage/package.json
  projects/four-card/package.json
  projects/fylo-landing/package.json
  projects/github-jobs/package.json
  projects/huddle-landing/package.json
  projects/intro-section/package.json
  projects/job-listings/package.json
  projects/ping/package.json
  projects/pricing/package.json
  projects/project-tracking/package.json
  projects/rock-paper-scissors/package.json
  projects/signup-form/package.json
  projects/single-price/package.json
  projects/social-proof/package.json
  projects/testimonials-slider/package.json
Due: prettier --write

Deploying to gh-pages from @ Alex-K1m/frontend-practice@8d5b6e2611dc2d54d7b00e0e21bfecaaadf83c2d 🚀
  github-jobs/index.html
  job-listings/page-data/sq/d/2582099446.json
Due: prettier --write

fix(github-jobs): add base url for production
  projects/github-jobs/src/App.jsx
Due: eslint --fix

build(github-jobs): add debugging capabilities for production
  projects/github-jobs/config/webpack.dev.js
  projects/github-jobs/config/webpack.prod.js
Due: eslint --fix

refactor(github-jobs): add local state for search
  projects/github-jobs/TODO.md
  projects/github-jobs/src/components/pages/Home/Search.jsx
  projects/github-jobs/src/store.jsx
Due: eslint --fix, prettier --write

refactor(github-jobs): refactor store
  projects/github-jobs/TODO.md
  projects/github-jobs/src/App.jsx
  projects/github-jobs/src/actions.js
  projects/github-jobs/src/components/common/Button.jsx
  projects/github-jobs/src/components/layout/Header.jsx
  projects/github-jobs/src/components/pages/Home/Home.jsx
  projects/github-jobs/src/components/pages/Home/Search.jsx
  projects/github-jobs/src/components/pages/Position/Content.jsx
  projects/github-jobs/src/components/pages/Position/Position.jsx
  projects/github-jobs/src/hooks.js
  projects/github-jobs/src/index.jsx
  projects/github-jobs/src/store.jsx
Due: eslint --fix, prettier --write

refactor(github-jobs): add util functions for query string manipulation
  projects/github-jobs/src/actions.js
  projects/github-jobs/src/components/pages/Home/Search.jsx
  projects/github-jobs/src/utils.js
Due: eslint --fix

fix(github-jobs): change cors proxy
  projects/github-jobs/src/utils.js
Due: eslint --fix

fix(github-jobs): fix url prop types
  projects/github-jobs/src/components/pages/Position/Content.jsx
  projects/github-jobs/src/components/pages/Position/Cta.jsx
  projects/github-jobs/src/components/pages/Position/Heading.jsx
Due: eslint --fix

fix(github-jobs): fix incorrect scroll when entering positions page
  projects/github-jobs/src/components/common/ScrollToTop.jsx
  projects/github-jobs/src/components/pages/Position/Position.jsx
Due: eslint --fix

feat(github-jobs): add loading more jobs
  projects/github-jobs/TODO.md
  projects/github-jobs/src/actions.js
  projects/github-jobs/src/components/pages/Home/Home.jsx
  projects/github-jobs/src/store.jsx
  projects/github-jobs/src/utils.js
Due: eslint --fix, prettier --write

chore(github-jobs): add vscode suggestions support for webpack aliases
  projects/github-jobs/jsconfig.json
Due: prettier --write

fix(github-jobs): make modal accessible with react-modal
  projects/github-jobs/package.json
  projects/github-jobs/src/components/layout/Modal.jsx
  projects/github-jobs/src/components/pages/Home/Search.jsx
  yarn.lock
Due: eslint --fix, prettier --write

fix(github-jobs): batch fixes
  projects/github-jobs/TODO.md
  projects/github-jobs/src/App.jsx
  projects/github-jobs/src/components/common/Button.jsx
  projects/github-jobs/src/components/common/Logo.jsx
  projects/github-jobs/src/components/layout/Wrapper.jsx
  projects/github-jobs/src/components/pages/Home/Card.jsx
  projects/github-jobs/src/components/pages/Home/Search.jsx
  projects/github-jobs/src/components/pages/Position/Cta.jsx
  projects/github-jobs/src/components/pages/Position/Heading.jsx
  projects/github-jobs/src/components/pages/Position/Position.jsx
  projects/github-jobs/src/components/pages/Position/Summary.jsx
Due: eslint --fix, prettier --write

refactor(github-jobs): refactor actions
  projects/github-jobs/TODO.md
  projects/github-jobs/src/App.jsx
  projects/github-jobs/src/actions.js
  projects/github-jobs/src/components/pages/Home/Home.jsx
  projects/github-jobs/src/components/pages/Home/Search.jsx
  projects/github-jobs/src/components/pages/Position/Position.jsx
  projects/github-jobs/src/store.jsx
  projects/github-jobs/src/utils.js
Due: eslint --fix, prettier --write

build: switch to npm workspaces
  .husky/.gitignore
  lerna.json
  package-lock.json
  package.json
  projects/article-preview/package.json
  projects/base-apparel/package.json
  projects/dashboard/package.json
  projects/data-storage/package.json
  projects/four-card/package.json
  projects/fylo-landing/package.json
  projects/huddle-landing/package.json
  projects/intro-section/package.json
  projects/ping/package.json
  projects/pricing/package.json
  projects/project-tracking/package.json
  projects/rock-paper-scissors/package.json
  projects/signup-form/package.json
  projects/single-price/package.json
  projects/social-proof/package.json
  projects/testimonials-slider/package.json
  yarn.lock
Due: prettier --write

ci: redo workflows
  .github/workflows/deploy-changed.yml
  package-lock.json
  package.json
Due: prettier --write

docs: update readme on switching to npm
  .gitignore
  README.md
Due: prettier --write

ci: fix lerna confirmation appearing on version
  .github/workflows/deploy-all.yml
  .github/workflows/deploy-changed.yml
Due: prettier --write

chore(release): publish
  projects/article-preview/package.json
  projects/base-apparel/package.json
  projects/dashboard/package.json
  projects/data-storage/package.json
  projects/four-card/package.json
  projects/fylo-landing/package.json
  projects/huddle-landing/package.json
  projects/intro-section/package.json
  projects/ping/package.json
  projects/pricing/package.json
  projects/project-tracking/package.json
  projects/rock-paper-scissors/package.json
  projects/signup-form/package.json
  projects/single-price/package.json
  projects/social-proof/package.json
  projects/testimonials-slider/package.json
Due: prettier --write

chore: update dependencies
  package-lock.json
  package.json
  projects/article-preview/package.json
  projects/base-apparel/package.json
  projects/dashboard/package.json
  projects/data-storage/package.json
  projects/four-card/package.json
  projects/fylo-landing/package.json
  projects/huddle-landing/package.json
  projects/intro-section/package.json
  projects/ping/package.json
  projects/pricing/package.json
  projects/project-tracking/package.json
  projects/rock-paper-scissors/package.json
  projects/signup-form/package.json
  projects/single-price/package.json
  projects/social-proof/package.json
  projects/testimonials-slider/package.json
Due: prettier --write

build: update browserslist config
  packages/browserslist-config/index.js
Due: eslint --fix

chore(article-preview): update dependencies
  package-lock.json
  projects/article-preview/.gitignore
  projects/article-preview/package.json
Due: prettier --write

chore(base-apparel): update dependencies
  package-lock.json
  projects/base-apparel/.gitignore
  projects/base-apparel/package.json
Due: prettier --write

chore(dashboard): update dependencies
  package-lock.json
  projects/dashboard/.gitignore
  projects/dashboard/package.json
Due: prettier --write

chore(data-storage): update dependencies
  package-lock.json
  projects/data-storage/.gitignore
  projects/data-storage/package.json
Due: prettier --write

chore(four-card): update dependencies
  package-lock.json
  projects/four-card/.gitignore
  projects/four-card/package.json
Due: prettier --write

chore(fylo-landing): update dependencies
  package-lock.json
  projects/fylo-landing/.gitignore
  projects/fylo-landing/package.json
Due: prettier --write

chore(huddle-landing): update dependencies
  package-lock.json
  projects/huddle-landing/.gitignore
  projects/huddle-landing/package.json
Due: prettier --write

chore(intro-section): update dependencies
  package-lock.json
  projects/intro-section/.gitignore
  projects/intro-section/package.json
Due: prettier --write

chore(ping): update dependencies
  package-lock.json
  projects/ping/.gitignore
  projects/ping/package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
  prettier --write: any of: *.{pug,json,yml,yaml,md}
