Repository alex-kim-dev/frontend-practice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

refactor(data-storage): refactor sass
  projects/data-storage/src/index.pug
  projects/data-storage/src/sass/defaults.scss
  projects/data-storage/src/sass/styles.scss
Due: stylelint --fix, prettier --write

chore(release): publish
  projects/data-storage/package.json
Due: prettier --write

refactor(testimonials-slider): clean up files
  projects/testimonials-slider/src/images/icon-next.svg
  projects/testimonials-slider/src/images/icon-prev.svg
  projects/testimonials-slider/src/images/image-john.jpg
  projects/testimonials-slider/src/images/image-tanya.jpg
  projects/testimonials-slider/src/images/pattern-bg.svg
  projects/testimonials-slider/src/images/pattern-curve.svg
  projects/testimonials-slider/src/images/pattern-quotes.svg
  projects/testimonials-slider/src/includes/seo.pug
  projects/testimonials-slider/src/index.pug
  projects/testimonials-slider/src/layout.pug
  projects/testimonials-slider/src/sass/defaults.scss
  projects/testimonials-slider/src/sass/reset.scss
  projects/testimonials-slider/src/sass/styles.scss
Due: stylelint --fix, prettier --write

refactor(testimonials-slider): clean up sass
  projects/testimonials-slider/src/index.pug
  projects/testimonials-slider/src/sass/defaults.scss
  projects/testimonials-slider/src/sass/styles.scss
Due: stylelint --fix, prettier --write

fix(testimonials-slider): fix photos not loading in the script
  projects/testimonials-slider/package.json
  projects/testimonials-slider/src/script.js
Due: eslint --fix, prettier --write

chore(release): publish
  projects/testimonials-slider/package.json
Due: prettier --write

refactor(article-preview): change file structure
  projects/article-preview/src/defaults.scss
  projects/article-preview/src/images/avatar-michelle.jpg
  projects/article-preview/src/images/drawers.jpg
  projects/article-preview/src/images/icon-facebook.svg
  projects/article-preview/src/images/icon-pinterest.svg
  projects/article-preview/src/images/icon-share.svg
  projects/article-preview/src/images/icon-twitter.svg
  projects/article-preview/src/includes/seo.pug
  projects/article-preview/src/index.pug
  projects/article-preview/src/layout.pug
  projects/article-preview/src/sass/defaults.scss
  projects/article-preview/src/sass/reset.scss
  projects/article-preview/src/sass/styles.scss
Due: stylelint --fix, prettier --write

refactor(article-preview): refactor sass
  projects/article-preview/src/index.pug
  projects/article-preview/src/sass/defaults.scss
  projects/article-preview/src/sass/styles.scss
Due: stylelint --fix, prettier --write

chore(release): publish
  projects/article-preview/package.json
Due: prettier --write

refactor(social-proof): clean up files
  projects/social-proof/src/images/bg-pattern-bottom-desktop.svg
  projects/social-proof/src/images/bg-pattern-bottom-mobile.svg
  projects/social-proof/src/images/bg-pattern-top-desktop.svg
  projects/social-proof/src/images/bg-pattern-top-mobile.svg
  projects/social-proof/src/images/icon-star.svg
  projects/social-proof/src/images/image-anne.jpg
  projects/social-proof/src/images/image-colton.jpg
  projects/social-proof/src/images/image-irene.jpg
  projects/social-proof/src/includes/seo.pug
  projects/social-proof/src/index.pug
  projects/social-proof/src/sass/defaults.scss
  projects/social-proof/src/sass/reset.scss
  projects/social-proof/src/sass/styles.scss
Due: stylelint --fix, prettier --write

refactor(social-proof): separate content from markup
  projects/social-proof/.pugrc.js
  projects/social-proof/src/content.json
  projects/social-proof/src/index.pug
Due: eslint --fix, prettier --write

refactor(social-proof): refactor sass
  projects/social-proof/src/index.pug
  projects/social-proof/src/sass/defaults.scss
  projects/social-proof/src/sass/styles.scss
Due: stylelint --fix, prettier --write

chore(release): publish
  projects/social-proof/package.json
Due: prettier --write

refactor(pricing): clean up files
  projects/pricing/src/defaults.scss
  projects/pricing/src/images/bg-bottom.svg
  projects/pricing/src/images/bg-top.svg
  projects/pricing/src/includes/seo.pug
  projects/pricing/src/index.pug
  projects/pricing/src/sass/defaults.scss
  projects/pricing/src/sass/reset.scss
  projects/pricing/src/sass/styles.scss
Due: stylelint --fix, prettier --write

refactor(pricing): separate content from markup
  projects/pricing/.pugrc.js
  projects/pricing/src/content.json
  projects/pricing/src/index.pug
  projects/pricing/src/sass/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

refactor(pricing): refactor sass
  projects/pricing/src/content.json
  projects/pricing/src/index.pug
  projects/pricing/src/layout.pug
  projects/pricing/src/sass/defaults.scss
  projects/pricing/src/sass/styles.scss
Due: stylelint --fix, prettier --write

chore(release): publish
  projects/pricing/package.json
Due: prettier --write

refactor(project-tracking): clean up files
  projects/project-tracking/src/icon-close.svg
  projects/project-tracking/src/icon-hamburger.svg
  projects/project-tracking/src/images/illustration-devices.svg
  projects/project-tracking/src/images/logo.svg
  projects/project-tracking/src/includes/seo.pug
  projects/project-tracking/src/index.pug
  projects/project-tracking/src/layout.pug
  projects/project-tracking/src/sass/defaults.scss
  projects/project-tracking/src/sass/reset.scss
  projects/project-tracking/src/sass/styles.scss
Due: stylelint --fix, prettier --write

refactor(project-tracking): clean up sass
  projects/project-tracking/src/index.pug
  projects/project-tracking/src/sass/defaults.scss
  projects/project-tracking/src/sass/styles.scss
Due: stylelint --fix, prettier --write

chore(release): publish
  projects/project-tracking/package.json
Due: prettier --write

refactor(dashboard): clean up files
  projects/dashboard/src/images/icon-down.svg
  projects/dashboard/src/images/icon-facebook.svg
  projects/dashboard/src/images/icon-instagram.svg
  projects/dashboard/src/images/icon-twitter.svg
  projects/dashboard/src/images/icon-up.svg
  projects/dashboard/src/images/icon-youtube.svg
  projects/dashboard/src/includes/seo.pug
  projects/dashboard/src/index.pug
  projects/dashboard/src/layout.pug
  projects/dashboard/src/sass/defaults.scss
  projects/dashboard/src/sass/reset.scss
  projects/dashboard/src/sass/styles.scss
Due: stylelint --fix, prettier --write

refactor(dashboard): clean up sass
  projects/dashboard/src/index.pug
  projects/dashboard/src/sass/defaults.scss
  projects/dashboard/src/sass/styles.scss
Due: stylelint --fix, prettier --write

refactor(dashboard): separate content and markup
  projects/dashboard/.pugrc.js
  projects/dashboard/src/content.json
  projects/dashboard/src/index.pug
Due: eslint --fix, prettier --write

chore(release): publish
  projects/dashboard/package.json
Due: prettier --write

refactor(rock-paper-scissors): clean up the solution
  projects/rock-paper-scissors/src/defaults.scss
  projects/rock-paper-scissors/src/images/bg-pentagon.svg
  projects/rock-paper-scissors/src/images/icon-close.svg
  projects/rock-paper-scissors/src/images/icon-lizard.svg
  projects/rock-paper-scissors/src/images/icon-paper.svg
  projects/rock-paper-scissors/src/images/icon-rock.svg
  projects/rock-paper-scissors/src/images/icon-scissors.svg
  projects/rock-paper-scissors/src/images/icon-spock.svg
  projects/rock-paper-scissors/src/images/image-rules-bonus.svg
  projects/rock-paper-scissors/src/images/logo-bonus.svg
  projects/rock-paper-scissors/src/includes/seo.pug
  projects/rock-paper-scissors/src/index.pug
  projects/rock-paper-scissors/src/js/_modal.js
  projects/rock-paper-scissors/src/js/_utils.js
  projects/rock-paper-scissors/src/js/script.js
  projects/rock-paper-scissors/src/layout.pug
  projects/rock-paper-scissors/src/sass/_animation.scss
  projects/rock-paper-scissors/src/sass/defaults.scss
  projects/rock-paper-scissors/src/sass/reset.scss
  projects/rock-paper-scissors/src/sass/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

chore(release): publish
  projects/rock-paper-scissors/package.json
Due: prettier --write

refactor(fylo-landing): clean up
  projects/fylo-landing/src/defaults.scss
  projects/fylo-landing/src/images/avatar-testimonial.jpg
  projects/fylo-landing/src/images/bg-curve-desktop.svg
  projects/fylo-landing/src/images/bg-curve-mobile.svg
  projects/fylo-landing/src/images/icon-arrow.svg
  projects/fylo-landing/src/images/icon-email.svg
  projects/fylo-landing/src/images/icon-phone.svg
  projects/fylo-landing/src/images/icon-quotes.svg
  projects/fylo-landing/src/images/illustration-1.svg
  projects/fylo-landing/src/images/illustration-2.svg
  projects/fylo-landing/src/images/logo.svg
  projects/fylo-landing/src/includes/facebook.pug
  projects/fylo-landing/src/includes/instagram.pug
  projects/fylo-landing/src/includes/seo.pug
  projects/fylo-landing/src/includes/social-links.pug
  projects/fylo-landing/src/includes/twitter.pug
  projects/fylo-landing/src/index.pug
  projects/fylo-landing/src/sass/defaults.scss
  projects/fylo-landing/src/sass/reset.scss
  projects/fylo-landing/src/sass/styles.scss
Due: stylelint --fix, prettier --write

refactor(huddle-landing): clean up
  projects/huddle-landing/src/defaults.scss
  projects/huddle-landing/src/images/bg-hero-desktop.svg
  projects/huddle-landing/src/images/bg-hero-mobile.svg
  projects/huddle-landing/src/images/icon-email.svg
  projects/huddle-landing/src/images/icon-location.svg
  projects/huddle-landing/src/images/icon-phone.svg
  projects/huddle-landing/src/images/illustration-flowing-conversation.svg
  projects/huddle-landing/src/images/illustration-grow-together.svg
  projects/huddle-landing/src/images/illustration-mockups.svg
  projects/huddle-landing/src/images/illustration-your-users.svg
  projects/huddle-landing/src/images/logo.svg
  projects/huddle-landing/src/includes/facebook.pug
  projects/huddle-landing/src/includes/instagram.pug
  projects/huddle-landing/src/includes/seo.pug
  projects/huddle-landing/src/includes/social-links.pug
  projects/huddle-landing/src/includes/twitter.pug
  projects/huddle-landing/src/index.pug
  projects/huddle-landing/src/layout.pug
  projects/huddle-landing/src/sass/defaults.scss
  projects/huddle-landing/src/sass/reset.scss
  projects/huddle-landing/src/sass/styles.scss
Due: stylelint --fix, prettier --write

chore(release): publish
  projects/fylo-landing/package.json
  projects/huddle-landing/package.json
Due: prettier --write

fix(job-listings): fix camelCase mixins naming
  projects/job-listings/src/components/Filter/Filter.module.scss
  projects/job-listings/src/components/JobItem/JobItem.module.scss
  projects/job-listings/src/components/JobList/JobList.module.scss
  projects/job-listings/src/components/Layout/Layout.module.scss
  projects/job-listings/src/components/breakpoints.scss
Due: stylelint --fix

chore(release): publish
  projects/job-listings/package.json
Due: prettier --write

feat(github-jobs): initialize project using webpack-react-template
  .eslintrc.yml
  projects/github-jobs/.babelrc
  projects/github-jobs/.gitignore
  projects/github-jobs/config/paths.js
  projects/github-jobs/config/webpack.common.js
  projects/github-jobs/config/webpack.dev.js
  projects/github-jobs/config/webpack.prod.js
  projects/github-jobs/package.json
  projects/github-jobs/src/index.jsx
  projects/github-jobs/src/template.html
  yarn.lock
Due: eslint --fix, prettier --write

chore(github-jobs): add assets
  projects/github-jobs/config/webpack.common.js
  projects/github-jobs/src/assets/desktop/bg-pattern-detail-footer.svg
  projects/github-jobs/src/assets/desktop/bg-pattern-header.svg
  projects/github-jobs/src/assets/desktop/icon-check.svg
  projects/github-jobs/src/assets/desktop/icon-location.svg
  projects/github-jobs/src/assets/desktop/icon-moon.svg
  projects/github-jobs/src/assets/desktop/icon-search.svg
  projects/github-jobs/src/assets/desktop/icon-sun.svg
  projects/github-jobs/src/assets/desktop/logo.svg
  projects/github-jobs/src/assets/mobile/bg-pattern-detail-footer.svg
  projects/github-jobs/src/assets/mobile/bg-pattern-header.svg
  projects/github-jobs/src/assets/mobile/icon-filter.svg
  projects/github-jobs/src/assets/tablet/bg-pattern-header.svg
Due: eslint --fix

docs(github-jobs): add todo list
  projects/github-jobs/TODO.md
Due: prettier --write

feat(github-jobs): add jss and color theme
  projects/github-jobs/TODO.md
  projects/github-jobs/package.json
  projects/github-jobs/src/App.jsx
  projects/github-jobs/src/Hello.jsx
  projects/github-jobs/src/index.jsx
  projects/github-jobs/src/theme.js
  yarn.lock
Due: eslint --fix, prettier --write

style(github-jobs): add reset styles
  projects/github-jobs/package.json
  projects/github-jobs/src/App.jsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: add eslint plugin for resolving webpack aliases
  .eslintrc.yml
  package.json
  yarn.lock
Due: prettier --write

style(github-jobs): add some global styling
  projects/github-jobs/src/App.jsx
Due: eslint --fix

style(github-jobs): add breakpoints
  projects/github-jobs/src/App.jsx
  projects/github-jobs/src/theme.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
  prettier --write: any of: *.{pug,json,yml,yaml,md}
