Repository alex-kim-dev/frontend-practice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.yml:

'projects/**/*.{js,jsx}': eslint --fix
'projects/**/*.scss': stylelint --fix
'projects/**/*.{pug,json,yml,yaml,md}': prettier --write

chore(pricing): update dependencies
  package-lock.json
  projects/pricing/.gitignore
  projects/pricing/package.json
Due: prettier --write

chore(project-tracking): update dependencies
  package-lock.json
  projects/project-tracking/.gitignore
  projects/project-tracking/package.json
Due: prettier --write

chore(rock-paper-scissors): update dependencies
  package-lock.json
  projects/rock-paper-scissors/.gitignore
  projects/rock-paper-scissors/package.json
  projects/rock-paper-scissors/src/includes/seo.pug
Due: prettier --write

chore(signup-form): update dependencies
  package-lock.json
  projects/signup-form/.gitignore
  projects/signup-form/package.json
Due: prettier --write

chore(single-price): update dependencies
  package-lock.json
  projects/single-price/.gitignore
  projects/single-price/package.json
Due: prettier --write

chore(social-proof): update dependencies
  package-lock.json
  projects/social-proof/.gitignore
  projects/social-proof/package.json
Due: prettier --write

chore(testimonials-slider): update dependencies
  package-lock.json
  projects/testimonials-slider/.gitignore
  projects/testimonials-slider/package.json
  projects/testimonials-slider/src/includes/seo.pug
Due: prettier --write

chore: update root dependencies
  .husky/.gitignore
  package-lock.json
  package.json
Due: none

chore: fix git hooks calling yarn
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: fix lint-staged setup
  .husky/pre-commit
  .lintstagedrc.yml
  package-lock.json
  package.json
  projects/article-preview/.lintstagedrc.yml
  projects/article-preview/package.json
  projects/base-apparel/.lintstagedrc.yml
  projects/base-apparel/package.json
  projects/dashboard/.lintstagedrc.yml
  projects/dashboard/package.json
  projects/data-storage/.lintstagedrc.yml
  projects/data-storage/package.json
  projects/four-card/.lintstagedrc.yml
  projects/four-card/package.json
  projects/fylo-landing/.lintstagedrc.yml
  projects/fylo-landing/package.json
  projects/huddle-landing/.lintstagedrc.yml
  projects/huddle-landing/package.json
  projects/intro-section/.lintstagedrc.yml
  projects/intro-section/package.json
  projects/ping/.lintstagedrc.yml
  projects/ping/package.json
  projects/pricing/.lintstagedrc.yml
  projects/pricing/package.json
  projects/project-tracking/.lintstagedrc.yml
  projects/project-tracking/package.json
  projects/rock-paper-scissors/.lintstagedrc.yml
  projects/rock-paper-scissors/package.json
  projects/signup-form/.lintstagedrc.yml
  projects/signup-form/package.json
  projects/single-price/.lintstagedrc.yml
  projects/single-price/package.json
  projects/social-proof/.lintstagedrc.yml
  projects/social-proof/package.json
  projects/testimonials-slider/.lintstagedrc.yml
  projects/testimonials-slider/package.json
Due: prettier --write

ci: update dependencies caching using setup-node action
  .github/workflows/deploy-all.yml
  .github/workflows/deploy-changed.yml
Due: none

chore: add linting commit scope
  .commitlintrc.yml
  package-lock.json
  package.json
Due: none

build(testimonials-slider): fix error on copy-static if public dir is missing
  projects/testimonials-slider/package.json
Due: prettier --write

chore(release): publish
  packages/browserslist-config/package.json
  projects/article-preview/package.json
  projects/base-apparel/package.json
  projects/dashboard/package.json
  projects/data-storage/package.json
  projects/four-card/package.json
  projects/fylo-landing/package.json
  projects/huddle-landing/package.json
  projects/intro-section/package.json
  projects/ping/package.json
  projects/pricing/package.json
  projects/project-tracking/package.json
  projects/rock-paper-scissors/package.json
  projects/signup-form/package.json
  projects/single-price/package.json
  projects/social-proof/package.json
  projects/testimonials-slider/package.json
Due: prettier --write

ci: add graduating project versions
  package.json
Due: none

build: change github username
  .github/workflows/deploy-all.yml
  .github/workflows/deploy-changed.yml
  README.md
  package.json
  packages/site-meta/index.js
  projects/article-preview/package.json
  projects/article-preview/src/includes/seo.pug
  projects/base-apparel/package.json
  projects/base-apparel/src/includes/seo.pug
  projects/dashboard/package.json
  projects/dashboard/src/includes/seo.pug
  projects/data-storage/package.json
  projects/data-storage/src/includes/seo.pug
  projects/four-card/package.json
  projects/four-card/src/includes/seo.pug
  projects/fylo-landing/package.json
  projects/fylo-landing/src/includes/seo.pug
  projects/huddle-landing/package.json
  projects/huddle-landing/src/includes/seo.pug
  projects/intro-section/package.json
  projects/intro-section/src/includes/seo.pug
  projects/ping/package.json
  projects/ping/src/includes/seo.pug
  projects/pricing/package.json
  projects/pricing/src/includes/seo.pug
  projects/project-tracking/package.json
  projects/project-tracking/src/includes/seo.pug
  projects/rock-paper-scissors/package.json
  projects/rock-paper-scissors/src/includes/seo.pug
  projects/signup-form/package.json
  projects/signup-form/src/includes/seo.pug
  projects/single-price/package.json
  projects/single-price/src/seo.pug
  projects/social-proof/package.json
  projects/social-proof/src/includes/seo.pug
  projects/testimonials-slider/package.json
  projects/testimonials-slider/src/includes/seo.pug
Due: prettier --write

chore(release): publish
  packages/site-meta/package.json
  projects/article-preview/package.json
  projects/base-apparel/package.json
  projects/dashboard/package.json
  projects/data-storage/package.json
  projects/four-card/package.json
  projects/fylo-landing/package.json
  projects/huddle-landing/package.json
  projects/intro-section/package.json
  projects/ping/package.json
  projects/pricing/package.json
  projects/project-tracking/package.json
  projects/rock-paper-scissors/package.json
  projects/signup-form/package.json
  projects/single-price/package.json
  projects/social-proof/package.json
  projects/testimonials-slider/package.json
Due: prettier --write

Deploying to gh-pages from @ alex-kim-dev/frontend-practice@fcef6613d47de57b5ff9428ecf52cb7ec9122b7f 🚀
  article-preview/index.17fdd03b.css.map
  article-preview/index.html
  base-apparel/index.0c42390c.css.map
  base-apparel/index.html
  dashboard/index.d7c4b4eb.css.map
  dashboard/index.html
  data-storage/index.d3e2b422.css.map
  data-storage/index.html
  four-card/index.68f8e2ff.css.map
  four-card/index.html
  fylo-landing/index.c34f75bd.css.map
  fylo-landing/index.html
  huddle-landing/index.5425ddc5.css.map
  huddle-landing/index.html
  intro-section/index.00e1aa3c.css.map
  intro-section/index.html
  ping/index.c38e1e4f.css.map
  ping/index.html
  pricing/index.808bb4ab.css.map
  pricing/index.html
  project-tracking/index.4c80ba8d.css.map
  project-tracking/index.html
  rock-paper-scissors/index.146029db.css.map
  rock-paper-scissors/index.29aafcda.js
  rock-paper-scissors/index.29aafcda.js.map
  rock-paper-scissors/index.d6b4a423.js
  rock-paper-scissors/index.d6b4a423.js.map
  rock-paper-scissors/index.html
  signup-form/index.83451f68.css.map
  signup-form/index.html
  single-price/index.ee7206a7.css.map
  single-price/index.html
  social-proof/index.0ba40e19.css.map
  social-proof/index.html
  testimonials-slider/index.3bc01ed5.css.map
  testimonials-slider/index.html
Due: none

feat(interactive-pricing): project setup
  package-lock.json
  projects/interactive-pricing/.eslintrc.yml
  projects/interactive-pricing/.gitignore
  projects/interactive-pricing/.lintstagedrc.yml
  projects/interactive-pricing/.postcssrc.yml
  projects/interactive-pricing/.prettierrc.yml
  projects/interactive-pricing/.stylelintrc.yml
  projects/interactive-pricing/package.json
  projects/interactive-pricing/src/index.html
  projects/interactive-pricing/src/index.js
  projects/interactive-pricing/src/style.css
  projects/interactive-pricing/vite.config.js
Due: eslint --fix, prettier --write

build(interactive-pricing): remove postcss
  package-lock.json
  projects/interactive-pricing/.postcssrc.yml
  projects/interactive-pricing/package.json
Due: prettier --write

chore(interactive-pricing): add challenge files
  projects/interactive-pricing/src/images/bg-pattern.svg
  projects/interactive-pricing/src/images/icon-check.svg
  projects/interactive-pricing/src/images/icon-slider.svg
  projects/interactive-pricing/src/images/pattern-circles.svg
  projects/interactive-pricing/src/index.html
  projects/interactive-pricing/src/index.js
  projects/interactive-pricing/src/style.css
Due: eslint --fix

feat(interactive-pricing): add base styles & layout
  package-lock.json
  projects/interactive-pricing/package.json
  projects/interactive-pricing/src/index.html
  projects/interactive-pricing/src/style.css
Due: prettier --write

build(interactive-pricing): fix css build & stylelint
  package-lock.json
  projects/interactive-pricing/.postcssrc.yml
  projects/interactive-pricing/.stylelintrc.yml
  projects/interactive-pricing/package.json
  projects/interactive-pricing/src/style.css
  projects/interactive-pricing/vite.config.js
Due: eslint --fix, prettier --write

style(interactive-pricing): pricing widget text
  projects/interactive-pricing/src/index.html
  projects/interactive-pricing/src/style.css
Due: none

feat(interactive-pricing): add slider markup & styling
  projects/interactive-pricing/src/index.html
  projects/interactive-pricing/src/style.css
Due: none

feat(interactive-pricing): add header
  projects/interactive-pricing/src/index.html
  projects/interactive-pricing/src/style.css
Due: none

feat(interactive-pricing): add pricing widget grid
  projects/interactive-pricing/src/index.html
  projects/interactive-pricing/src/style.css
Due: none

style(interactive-pricing): group
  projects/interactive-pricing/src/index.html
  projects/interactive-pricing/src/style.css
Due: none

chore(interactive-pricing): update links in package.json
  projects/interactive-pricing/package.json
Due: prettier --write

feat(interactive-pricing): add slider logic
  projects/interactive-pricing/src/index.html
  projects/interactive-pricing/src/index.js
  projects/interactive-pricing/src/style.css
Due: eslint --fix

feat(interactive-pricing): format price & pageviews
  projects/interactive-pricing/src/index.js
Due: eslint --fix

refactor(interactive-pricing): auto update view on state change
  projects/interactive-pricing/.eslintrc.yml
  projects/interactive-pricing/src/index.js
Due: eslint --fix, prettier --write

feat(interactive-pricing): add drag & drop to the slider
  projects/interactive-pricing/src/index.js
  projects/interactive-pricing/src/style.css
Due: eslint --fix

fix(interactive-pricing): take the thumb width in account when calculating a new position
  projects/interactive-pricing/src/index.js
Due: eslint --fix

feat(interactive-pricing): add billing switch
  projects/interactive-pricing/src/index.html
  projects/interactive-pricing/src/style.css
Due: none

feat(interactive-pricing): add price updates when changing billing
  projects/interactive-pricing/src/index.js
Due: eslint --fix

feat(interactive-pricing): add discount chip
  projects/interactive-pricing/src/index.html
  projects/interactive-pricing/src/style.css
Due: none

feat(interactive-pricing): add benefits list & cta button
  projects/interactive-pricing/src/index.html
  projects/interactive-pricing/src/style.css
Due: none

feat(interactive-pricing): add touch support for drag & drop
  projects/interactive-pricing/src/index.js
Due: eslint --fix
